@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: #FFFFFF;
    color: black;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
    text-align: center;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    color: black;
    text-align: center;
}


header{
    height:80px;
    width:100%;
    color: white;
    text-align: center;

}
header h1{
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
    color: black;
    
}
#logo{
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

.game-rules-area{
    background-color: #ffda67;
    border-radius: 25px;
    width: 70%;
    height: 500px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 80px;
    
}

#rules-diagram {
    width:400px;
    height: 500px;
    padding-left: 60px;
    padding-top: 60px;
    float: left;

}

#rules-diagram img{
    width: 400px;
    height:auto;
}

.how-to-play{
    float: right;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.how-to-play h2{
    padding-top: 30px;
    padding-bottom: 10px;
}

#rules-table{
    width: 300px;
}

button{
    background-color: #FFFFFF;
    color:black;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    margin: 20px;
    text-decoration: none;
}

button:hover{
    background-color: #e1ae25;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }

footer{
    height:80px;
    width: 100%;
    background-color: #78a8da;
    position:fixed;
    left: 0;
    bottom: 0;
}

.reserves{
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
}



#pageLevel{
    width: 100%;
    height:60px;
    text-align: center;
}
.game-area{
    background-color: #ffda67;
    border-radius: 25px;
    width: 70%;
    height: 500px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 20px;
    column-count:5;
    display: grid;
}

.game-buttons{
    height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}
.select{
    height: 300px;
    width:120px;
    display: inline-block;
    vertical-align: top;
}
.select-button{
    width: auto;
    margin: 0;
    margin-top: 30px;
    background-color: transparent;
}

.select-button img{
    height: 150px;
}

.select button:hover{
    background-color: #FFFFFF;
}

.response-message{
    width: 100%;
    height:200px;
}

.response-message p {
    text-align: center;
}

#msg{
    margin-left: 20px;
    margin-right: 20px;
}

#game-outcome{
    width:70%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#game-outcome button{
    margin: 5px;

}


#games-lost{
    height:75px;
    margin-left: auto;
    margin-right: auto;
    float:left;
    padding-left: 20px;
}

#games-lost h2{
    text-align: center;
}

#see-rules{
    background-color: #78a8da;
    color: #FFFFFF;
    float:right;
}

#start-again{
    background-color: #78a8da;
    color: #FFFFFF;
    float: right;
}

#game-outcome button:hover {
    filter: brightness(70%);
}


/* media queries */

/* For larger to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px) {

.game-rules-area{
    width: 80%;
}
}
/* For larger to medium screens size from 1100px wide and down */
@media screen and (max-width: 1100px) {

    #rules-diagram{
        width: 100%;
        text-align: center;
        padding: 0;
        padding-top: 60px;
        height: auto;
    }

    .game-rules-area{
        height:auto;
    }

    .how-to-play{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    #rules-table{
        width: 30%;
        margin: auto;
    }
    p{
        text-align: center;
    }

    #game-outcome button{
        width: 150px;
        font-size: 30px;
        padding: 10px;
        margin: 5px;
    }

    #game-lost-count{
        width: 200px;
    }

    #game-buttons{
        padding-top: 10px;
    }
}

/* For medium screens size from 975px wide and down */
@media screen and (max-width: 975px) {
    h1{
        font-size: 30px;
        margin-top: 5px;
    }
    h2{
        font-size: 25px;
    }
 .game-buttons{
     padding-top: 50px;
     height: 300px;
     width:100%;
 }
 .select-button{
     margin-top: 0px;
 }
 .select{
    width:100px;
    height:200px;
    padding-top: 20px;
 }
 #game-outcome button{
     width: 100px;
     font-size: 20px;

 }
 #game-lost-count{
     padding-left: 0px;
}

}

/* For medium screens size from 735 wide and down */
@media screen and (max-width: 735px) {

.game-area{
    width: 90%;
    height: 500px;
}
.game-buttons{
    padding-top: 0px;
}
#game-outcome{
    width:90%;
}

}

/* For medium screens size from 575 wide and down */
@media screen and (max-width: 575px) {
    h1{
        font-size: 20px;
    }

    #rules-diagram img{
        width: 280px;
    }



.select{
        width:150px;
        height:200px;
}
.game-area{
    height: 645px;
}
.game-buttons{
    height: 475px;
}
.response-message{
    height: 170px;
}
}
/* For medium screens size frofm 510 wide and down */
@media screen and (max-width: 510px) {
    .select{
        width:115px;
        height:200px;
}

#game-outcome-buttons buttons{
    width: 50%;
}
#game-lost-count{
    width:100%;
}
}

/* For medium screens size from 395 wide and down */
@media screen and (max-width: 395px) {
    .select{
        width:90px;
        height:200px;
}

}