@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: #FFFFFF;
    color: black;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 20px;
    color: black;
    text-align: left;
}


header{
    height:80px;
    width:100%;
    color: white;
    text-align: center;

}
header h1{
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
    color: black;
    
}
#logo{
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

.game-rules-area{
    background-color: #ffda67;
    border-radius: 25px;
    width: 70%;
    height: 500px;
    max-height: 500px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 80px;
    
}

#rules-diagram {
    width:400px;
    height: 500px;
    padding: 50px;
    padding-left: 100px;
    display: inline-block;
    float: left;

}

#rules-diagram img{
    width: 400px;
    height:auto;

}

.how-to-play{
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.how-to-play h2{
    padding-top: 30px;
    padding-bottom: 10px;
}

#rules-table{
    width: 300px;
}

button{
    background-color: #FFFFFF;
    color:black;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    margin: 20px;
    text-decoration: none;
}

button:hover{
    background-color: #e1ae25;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }

footer{
    height:80px;
    width: 100%;
    background-color: #78a8da;
    position:sticky;
}

.reserves{
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
}



 
.game-area{
    background-color: #ffda67;
    border-radius: 25px;
    width: 70%;
    height: 500px;
    max-height: 500px;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 20px;
}

.game-area img{
    width:80px;
    margin-top:20px;
}

.game-buttons{
    padding-top: 30px;
    text-align: center;
}

.game-buttons button{
    background-color: transparent;
    font-size: 20px;
    padding-right: 0px;
}
.game-buttons button:hover{
    filter: drop-shadow(0 0 1rem #a37a1f);
    color: black;
    text-align: center;
    text-decoration: underline;
}

#game-outcome{
    width: 70%;
    height:300px;
    margin-left: auto;
    margin-right: auto;

}

#see-rules{
    background-color: #78a8da;
    color: #FFFFFF;
    float:right;
}

#start-again{
    background-color: #78a8da;
    color: #FFFFFF;
    float: right;
}

#game-lost-count{
    display: inline-block;
    float:left;
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
}

#game-outcome button:hover {
    filter: brightness(70%);
}